<header class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-md no-gutters">
      <div class="col-2 text-left">
        <a href="https://lifehistory.ca">
          <img src="assets/lh_logo_2_pale.png" height="45" alt="image">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav12"
        aria-controls="navbarNav12" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center col-md-8" id="navbarNav12">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item" *ngIf="!isAuthenticated()">
            <a class="nav-link" routerLink="/signin"><i class="fas fa-sign-in-alt mr-1"></i>Log In</a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated()">
            <a class="nav-link" routerLink="/signup"><i class="fas fa-user-plus mr-1"></i>Register</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link" routerLink="/calendar"><i class="fas fa-calendar-alt mr-1"></i>Calendar</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link" routerLink="/search"><i class="fas fa-search mr-1"></i>Search</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link" routerLink="/categories"><i class="fas fa-tag mr-1"></i>Categories</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link" routerLink="/activities"><i class="fas fa-tags mr-1"></i>Activities</a>
          </li>
          <li class="nav-item float-right" *ngIf="isAuthenticated()">
            <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt mr-1"></i>Logout</a>
          </li>
        </ul>
      </div>

      <ul class="navbar-nav col-2 justify-content-end d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="https://www.google.ca"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.google.ca"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ZoidQC"><i class="fab fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://gitlab.com/KavenTheriault"><i class="fab fa-gitlab"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="fdb-block page-background">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<footer class="fdb-block bg-dark">
  <div class="container footer-content">
    <div class="row align-items-top text-center text-md-center">
      <div class="col-12 col-sm-6 col-md-6">
        <h3><strong>Developed by</strong></h3>
        <span>Kaven Thériault</span>
        <br>
        <span><a href="https://gitlab.com/KavenTheriault">gitlab.com/KavenTheriault</a></span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        © {{year}} Life History. All Rights Reserved
      </div>
    </div>
  </div>
</footer>