<h1 *ngIf="day">{{day.date}}</h1>

<div class="table-responsive white-bg mt-4">
  <table *ngIf="day" class="table">
    <thead class="thead-dark">
      <tr>
        <th>Time</th>
        <th>End</th>
        <th>Activity</th>
        <th>Description</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let life_entry of day.life_entries">

      <tr *ngIf="life_entry.life_entry_activities.length == 0">
        <td>{{ life_entry.start_time.substring(0,5) }}</td>
        <td>{{ life_entry.end_time ? life_entry.end_time.substring(0,5) : '' }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="float-right">
            <button type="button" class="m-1 btn btn-outline-info" (click)="editLifeEntry(life_entry.id)"><i class="fas fa-pencil-alt"></i></button>
            <button type="button" class="m-1 btn btn-outline-danger" (click)="setLifeEntryToDelete(life_entry)"
              data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
          </div>
        </td>
      </tr>

      <tr *ngFor="let life_entry_activity of life_entry.life_entry_activities; let i = index">
        <td>{{ i == 0 ? life_entry.start_time.substring(0,5) : '' }}</td>
        <td>{{ i == 0 && life_entry.end_time ? life_entry.end_time.substring(0,5) : '' }}</td>
        <td>{{life_entry_activity.activity.name}} <span *ngIf="life_entry_activity.quantity>1" class="badge ml-1">{{life_entry_activity.quantity}}</span></td>
        <td>{{life_entry_activity.description}}</td>
        <td>{{life_entry_activity.rating ? life_entry_activity.rating : ''}} <span *ngIf="life_entry_activity.rating"
            style="color: orange;" class="fas fa-star"></span></td>
        <td>
          <div class="float-right" *ngIf="i == 0">
            <button type="button" class="m-1 btn btn-outline-info" (click)="editLifeEntry(life_entry.id)"><i class="fas fa-pencil-alt"></i></button>
            <button type="button" class="m-1 btn btn-outline-danger" (click)="setLifeEntryToDelete(life_entry)"
              data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
          </div>
        </td>
      </tr>

    <tbody>
  </table>
</div>

<form [formGroup]="day_form" (ngSubmit)="onSubmit()">
  <div class="mt-3">
    <button class="btn btn-info btn-md" (click)="this.save_and_add=true" type="submit">Add Life Entry</button>
  </div>

  <div class="form-group mt-3">
    <textarea class="form-control" rows="5" formControlName="note"></textarea>
  </div>

  <div class="mt-3">
    <button class="btn btn-info float-right" type="submit" [disabled]="loading">Update note</button>
    <button class="btn btn-dark" (click)="back()">Previous</button>
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Life Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure you want to delete this ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteLifeEntry()">Delete</button>
      </div>
    </div>
  </div>
</div>