<form class="form-horizontal " [formGroup]="life_entry_form" (ngSubmit)="onSubmit()">
  <div class="col-12 col-md-7 col-lg-5 col-xl-4 text-left">
    <div class="white-bg fdb-box container">

      <div class="page-header">
        <h2>New Life Entry</h2>
      </div>

      <div class="row">
        <div class="col-3 vertical-center-content">
          <label for="start_time">Start</label>
        </div>
        <div class="col">
          <ngb-timepicker id="start_time" formControlName="start_time" [ngClass]="{ 'is-invalid': submitted && f.start_time.errors }"></ngb-timepicker>
          <small *ngIf="submitted && f.start_time.errors?.required" class="help-block">Start is required</small>
        </div>
      </div>

      <div class="row">
        <div class="col-3 vertical-center-content">
          <label for="end_time">End</label>
        </div>
        <div class="col">
          <ngb-timepicker id="end_time" formControlName="end_time"></ngb-timepicker>
        </div>
      </div>

    </div>

    <div class="mt-3">
      <button class="btn btn-info" type="submit" [disabled]="loading">Save times</button>
      <button class="btn btn-outline-info float-right" (click)="this.another=true" type="submit" [disabled]="loading">Another</button>
    </div>

  </div>
  <div class="col">

    <div class="table-responsive white-bg mt-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Rating</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="mt-3">
      <button class="btn btn-info float-right" (click)="this.save_and_add=true" type="submit" [disabled]="loading">Add
        activity</button>
      <button class="btn btn-dark" (click)="back()">Previous</button>
    </div>
  </div>

</form>