<form class="form-horizontal " [formGroup]="life_entry_form" (ngSubmit)="onSubmit()">
  <div class="col-12 col-md-7 col-lg-5 col-xl-4 text-left">
    <div class="white-bg fdb-box container">

      <div class="page-header">
        <h2>New Life Entry</h2>
      </div>

      <div class="row">
        <div class="col-3 vertical-center-content">
          <label for="start_time">Start</label>
        </div>
        <div class="col">
          <ngb-timepicker id="start_time" formControlName="start_time" [ngClass]="{ 'is-invalid': submitted && f.start_time.errors }"></ngb-timepicker>
          <small *ngIf="submitted && f.start_time.errors?.required" class="help-block">Start is required</small>
        </div>
      </div>

      <div class="row">
        <div class="col-3 vertical-center-content">
          <label for="end_time">End</label>
        </div>
        <div class="col">
          <ngb-timepicker id="end_time" formControlName="end_time"></ngb-timepicker>
        </div>
      </div>

    </div>

    <div class="mt-3">
      <button class="btn btn-info" type="submit" [disabled]="loading">Update times</button>
      <button class="btn btn-outline-info float-right" (click)="this.another=true" type="submit" [disabled]="loading">Another</button>
    </div>

  </div>
  <div class="col">

    <div class="table-responsive white-bg mt-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="life_entry">
          <tr *ngFor="let life_entry_activity of life_entry.life_entry_activities">
            <td>{{life_entry_activity.activity.name}} <span *ngIf="life_entry_activity.quantity>1" class="badge ml-1">{{life_entry_activity.quantity}}</span></td>
            <td>{{life_entry_activity.description}}</td>
            <td>{{life_entry_activity.rating ? life_entry_activity.rating : ''}} <span *ngIf="life_entry_activity.rating"
                style="color: orange;" class="fas fa-star"></span></td>
            <td>
              <div class="float-right">
                <button type="button" class="m-1 btn btn-outline-info" (click)="editLifeEntryActivity(life_entry_activity.id)"><i
                    class="fas fa-pencil-alt"></i></button>
                <button type="button" class="m-1 btn btn-outline-danger" (click)="setLifeEntryActivityToDelete(life_entry_activity)"
                  data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
              </div>
            </td>
          </tr>
        <tbody>
      </table>
    </div>

    <div class="mt-3">
      <button class="btn btn-info float-right" (click)="this.save_and_add=true" type="submit" [disabled]="loading">Add
        activity</button>
      <button class="btn btn-dark" (click)="back()">Previous</button>
    </div>

  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Life Entry Activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure you want to delete this ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteLifeEntryActivity()">Delete</button>
      </div>
    </div>
  </div>
</div>