<form class="form-horizontal " [formGroup]="activity_type_form" (ngSubmit)="onSubmit()">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
      <div class="white-bg fdb-box">
  
        <div class="page-header">
          <h2>Edit Category</h2>
        </div>
  
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          <small *ngIf="submitted && f.name.errors?.required" class="help-block">Name is required</small>
        </div>
  
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="show_quantity" formControlName="show_quantity" [ngClass]="{ 'is-invalid': submitted && f.show_quantity.errors }">
          <label class="form-check-label" for="show_quantity">Enable quantity</label>
        </div>
  
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="show_rating" formControlName="show_rating" [ngClass]="{ 'is-invalid': submitted && f.show_rating.errors }">
          <label class="form-check-label" for="show_rating">Enable rating</label>
        </div>
  
      </div>
  
      <div class="mt-3">
        <button class="btn btn-info float-right" type="submit" [disabled]="loading">Update category</button>
        <button class="btn btn-dark" (click)="back()">Previous</button>
      </div>
    </div>
  
  </form>