/* You can add global styles to this file, and also import other style files */
html, body, app-root, section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: -webkit-min-content;
}

app-root {
  display: table;
}

footer{
  height: min-content;
  display: table-row;
}

.footer-content {
  margin-top: 4rem;
}

.page-background {
	background-color: #ffedc9;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(259)'%3E%3Cstop offset='0' stop-color='%23ffedc9'/%3E%3Cstop offset='1' stop-color='%239cdae4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90%2C150 0%2C300 180%2C300'/%3E%3Cpolygon points='90%2C150 180%2C0 0%2C0'/%3E%3Cpolygon fill='%23AAA' points='270%2C150 360%2C0 180%2C0'/%3E%3Cpolygon fill='%23DDD' points='450%2C150 360%2C300 540%2C300'/%3E%3Cpolygon fill='%23999' points='450%2C150 540%2C0 360%2C0'/%3E%3Cpolygon points='630%2C150 540%2C300 720%2C300'/%3E%3Cpolygon fill='%23DDD' points='630%2C150 720%2C0 540%2C0'/%3E%3Cpolygon fill='%23444' points='810%2C150 720%2C300 900%2C300'/%3E%3Cpolygon fill='%23FFF' points='810%2C150 900%2C0 720%2C0'/%3E%3Cpolygon fill='%23DDD' points='990%2C150 900%2C300 1080%2C300'/%3E%3Cpolygon fill='%23444' points='990%2C150 1080%2C0 900%2C0'/%3E%3Cpolygon fill='%23DDD' points='90%2C450 0%2C600 180%2C600'/%3E%3Cpolygon points='90%2C450 180%2C300 0%2C300'/%3E%3Cpolygon fill='%23666' points='270%2C450 180%2C600 360%2C600'/%3E%3Cpolygon fill='%23AAA' points='270%2C450 360%2C300 180%2C300'/%3E%3Cpolygon fill='%23DDD' points='450%2C450 360%2C600 540%2C600'/%3E%3Cpolygon fill='%23999' points='450%2C450 540%2C300 360%2C300'/%3E%3Cpolygon fill='%23999' points='630%2C450 540%2C600 720%2C600'/%3E%3Cpolygon fill='%23FFF' points='630%2C450 720%2C300 540%2C300'/%3E%3Cpolygon points='810%2C450 720%2C600 900%2C600'/%3E%3Cpolygon fill='%23DDD' points='810%2C450 900%2C300 720%2C300'/%3E%3Cpolygon fill='%23AAA' points='990%2C450 900%2C600 1080%2C600'/%3E%3Cpolygon fill='%23444' points='990%2C450 1080%2C300 900%2C300'/%3E%3Cpolygon fill='%23222' points='90%2C750 0%2C900 180%2C900'/%3E%3Cpolygon points='270%2C750 180%2C900 360%2C900'/%3E%3Cpolygon fill='%23DDD' points='270%2C750 360%2C600 180%2C600'/%3E%3Cpolygon points='450%2C750 540%2C600 360%2C600'/%3E%3Cpolygon points='630%2C750 540%2C900 720%2C900'/%3E%3Cpolygon fill='%23444' points='630%2C750 720%2C600 540%2C600'/%3E%3Cpolygon fill='%23AAA' points='810%2C750 720%2C900 900%2C900'/%3E%3Cpolygon fill='%23666' points='810%2C750 900%2C600 720%2C600'/%3E%3Cpolygon fill='%23999' points='990%2C750 900%2C900 1080%2C900'/%3E%3Cpolygon fill='%23999' points='180%2C0 90%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='360%2C0 270%2C150 450%2C150'/%3E%3Cpolygon fill='%23FFF' points='540%2C0 450%2C150 630%2C150'/%3E%3Cpolygon points='900%2C0 810%2C150 990%2C150'/%3E%3Cpolygon fill='%23222' points='0%2C300 -90%2C450 90%2C450'/%3E%3Cpolygon fill='%23FFF' points='0%2C300 90%2C150 -90%2C150'/%3E%3Cpolygon fill='%23FFF' points='180%2C300 90%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='180%2C300 270%2C150 90%2C150'/%3E%3Cpolygon fill='%23222' points='360%2C300 270%2C450 450%2C450'/%3E%3Cpolygon fill='%23FFF' points='360%2C300 450%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='540%2C300 450%2C450 630%2C450'/%3E%3Cpolygon fill='%23222' points='540%2C300 630%2C150 450%2C150'/%3E%3Cpolygon fill='%23AAA' points='720%2C300 630%2C450 810%2C450'/%3E%3Cpolygon fill='%23666' points='720%2C300 810%2C150 630%2C150'/%3E%3Cpolygon fill='%23FFF' points='900%2C300 810%2C450 990%2C450'/%3E%3Cpolygon fill='%23999' points='900%2C300 990%2C150 810%2C150'/%3E%3Cpolygon points='0%2C600 -90%2C750 90%2C750'/%3E%3Cpolygon fill='%23666' points='0%2C600 90%2C450 -90%2C450'/%3E%3Cpolygon fill='%23AAA' points='180%2C600 90%2C750 270%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C600 270%2C450 90%2C450'/%3E%3Cpolygon fill='%23444' points='360%2C600 270%2C750 450%2C750'/%3E%3Cpolygon fill='%23999' points='360%2C600 450%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='540%2C600 630%2C450 450%2C450'/%3E%3Cpolygon fill='%23222' points='720%2C600 630%2C750 810%2C750'/%3E%3Cpolygon fill='%23FFF' points='900%2C600 810%2C750 990%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C600 990%2C450 810%2C450'/%3E%3Cpolygon fill='%23DDD' points='0%2C900 90%2C750 -90%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C900 270%2C750 90%2C750'/%3E%3Cpolygon fill='%23FFF' points='360%2C900 450%2C750 270%2C750'/%3E%3Cpolygon fill='%23AAA' points='540%2C900 630%2C750 450%2C750'/%3E%3Cpolygon fill='%23FFF' points='720%2C900 810%2C750 630%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C900 990%2C750 810%2C750'/%3E%3Cpolygon fill='%23222' points='1080%2C300 990%2C450 1170%2C450'/%3E%3Cpolygon fill='%23FFF' points='1080%2C300 1170%2C150 990%2C150'/%3E%3Cpolygon points='1080%2C600 990%2C750 1170%2C750'/%3E%3Cpolygon fill='%23666' points='1080%2C600 1170%2C450 990%2C450'/%3E%3Cpolygon fill='%23DDD' points='1080%2C900 1170%2C750 990%2C750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.logo {
	width: inherit;
}

.white-bg {
	background: #ffffff90 !important;
}

.page-item .page-link {
  border-color: #17a2b8;
  color: #17a2b8;
}

.page-item.active .page-link {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.table .thead-dark th {
  background-color: #343a40;
  border-color: #343a40;
}

.table td, .table th {
  border-top: 1px solid lightgray;
}

.table tbody+tbody {
  border-top: 1px solid lightgray;
}

.fdb-block {
  padding: 25px 0 !important;
}

.btn-calendar {
  width: 100px;
}

.ngb-dp-arrow-btn {
  color: #17a2b8;
}

.bg-primary {
  background-color: #17a2b8 !important;
}

.vertical-center-content {
  display: flex;
  align-items: center;
}

.table td, .table th  {
  vertical-align: inherit;
}

.badge {
  background-color: #17a2b8;
  color: white;
}

/* From froala_blocks.css https://www.froala.com/design-blocks */
/*.btn {
    padding: 9px 26px;
    background-color: #528bff;
    color: #FFF;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    border: solid 2px #528bff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    .btn.btn-empty {
      background-color: transparent;
      color: #528bff; }
    .btn:hover {
      color: #FFF;
      background-color: #1f69ff;
      border-color: #1f69ff; }
    .btn.btn-black {
      color: #FFFFFF;
      background-color: #000000;
      border-color: #000000; }
      .btn.btn-black.btn-empty {
        background-color: transparent;
        color: #000000; }
      .btn.btn-black:hover {
        color: #FFF;
        background-color: #0d0d0d;
        border-color: #0d0d0d; }
    .btn.btn-white {
      color: #000000;
      background-color: #FFFFFF;
      border-color: #FFFFFF; }
      .btn.btn-white.btn-empty {
        background-color: transparent;
        color: #FFFFFF; }
      .btn.btn-white:hover {
        color: #000000;
        background-color: #DEDEDE;
        border-color: #DEDEDE; }
    .btn.btn-shadow {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .btn.btn-round {
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      min-width: 150px; }
  */
  .team-1.fdb-block img {
    border-bottom: solid 5px #528bff;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important; }
  
  .team-1.fdb-block .fdb-box {
    padding: 0; }
    .team-1.fdb-block .fdb-box .content {
      padding: 20px; }
  
  .team-2.fdb-block img {
    border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important; }
  
  .team-3.fdb-block img {
    border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  
  .fdb-block {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    padding: 100px 0;
    color: #444444;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: #FFFFFF; }
    .fdb-block.fdb-viewport {
      min-height: calc(100% - 2 * 100px); }
      .fdb-block.fdb-viewport .container {
        min-height: calc(100% - 2 * 100px); }
    .fdb-block.fdb-image-bg {
      color: #f2f2f2; }
    .fdb-block .fdb-box {
      background: #FFFFFF;
      color: #444444;
      padding: 60px 40px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      overflow: hidden; }
    .fdb-block .fdb-touch {
      border-top: solid 5px #528bff; }
    .fdb-block h1, .fdb-block .text-h1 {
      font-size: 2.75rem;
      margin-bottom: .5em;
      margin-top: .3em;
      font-weight: 400; }
    .fdb-block h2, .fdb-block .text-h2 {
      font-size: 2rem;
      margin-bottom: .5em;
      margin-top: .3em;
      font-weight: 400; }
    .fdb-block h3, .fdb-block .text-h3 {
      font-size: 1.125rem;
      margin-bottom: .5em;
      margin-top: .3em;
      font-weight: 400; }
    .fdb-block h4, .fdb-block .text-h4 {
      font-size: 1rem;
      margin-bottom: .5em;
      margin-top: .3em;
      font-weight: 400; }
    .fdb-block h5, .fdb-block .text-h5 {
      font-size: 0.9rem;
      margin-bottom: .5em;
      margin-top: .3em;
      font-weight: 400; }
    .fdb-block h6, .fdb-block .text-h6 {
      font-size: 0.75rem;
      margin-bottom: .5em;
      margin-top: .3em;
      font-weight: 400; }
    .fdb-block .font-weight-light {
      font-weight: 300; }
    .fdb-block img {
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px; }
      .fdb-block img + p, .fdb-block img + h3, .fdb-block img + h4 {
        margin-top: 20px; }
      .fdb-block img + h1, .fdb-block img + h2 {
        margin-top: 40px; }
    .fdb-block .col-fill-left {
      width: 50%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      z-index: 1; }
      .fdb-block .col-fill-left + div {
        position: relative;
        z-index: 2; }
    .fdb-block .col-fill-right {
      width: 50%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      z-index: 1; }
      .fdb-block .col-fill-right + div {
        position: relative;
        z-index: 2; }
    .fdb-block img.fdb-icon {
      width: auto;
      width: 60px; }
    .fdb-block img.fdb-icon-round {
      width: auto;
      width: 60px;
      border-radius: 60px;
      -moz-border-radius: 60px;
      -webkit-border-radius: 60px; }
    .fdb-block .row-100 {
      height: 100px;
      width: 100%; }
    .fdb-block .row-50 {
      height: 50px;
      width: 100%; }
    .fdb-block .row-70 {
      height: 70px;
      width: 100%; }
  
  footer {
    padding: 30px 0 !important; }
    footer.footer-large {
      padding: 100px 0 !important; }
    footer .flex-column .nav-link {
      padding-left: 0; }
    footer.bg-dark {
      background: #2d313c;
      color: #f2f2f2; }
      footer.bg-dark a {
        color: #f2f2f2; }
    footer a {
      color: #444444; }
  
  header {
    background-color: #FFFFFF; }
    header .navbar-nav a.nav-link {
      color: #777; }
      header .navbar-nav a.nav-link:hover {
        color: #528bff; }
    header .navbar-nav .active a.nav-link {
      color: #444444; }
    header .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
    header.bg-dark .navbar-nav a.nav-link {
      color: #dcdcdc; }
      header.bg-dark .navbar-nav a.nav-link:hover {
        color: #528bff; }
    header.bg-dark .navbar-nav .active a.nav-link {
      color: #FFFFFF; }
    header.bg-dark .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  
  header + header {
    border-top: solid 1px #EEE; }
  
  .bg-dark {
    background-color: #2d313c;
    color: #f2f2f2; }
  
  .bg-gray {
    background-color: #fafafa;
    color: #444444; }
  
  .br {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden; }
  
  .br-0 {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important; }
  
  .heart {
    color: #df584e;
    font-weight: bold; }
  
  *.text-light {
    font-weight: 300 !important; }
  
  .sl-1 {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 2; }
  
  table tr.no-border th, table tr.no-border td {
    border-top: 0; }
  