<form class="form-horizontal " [formGroup]="search_form" (ngSubmit)="onSubmit()">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
    <div class="white-bg fdb-box">

      <div class="page-header">
        <h2>Search</h2>
      </div>

      <div class="form-group">
        <label for="start">After</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="start" ngbDatepicker #d1="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary far fa-calendar-alt white-bg" (click)="d1.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="end">Before</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="end" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary far fa-calendar-alt white-bg" (click)="d2.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="activity_type_id">Category</label>
        <input class="form-control" id="activity_type_id" formControlName="activity_type" [class.is-invalid]="searchFailedAT"
          [ngbTypeahead]="searchActivityType" placeholder="Category search" [inputFormatter]="formatter1"
          [resultFormatter]="formatter1" [editable]="false">
        <div class="invalid-feedback" *ngIf="searchFailedAT">Sorry, suggestions could not be loaded.</div>
      </div>

      <div class="form-group">
        <label for="activity_id">Activity</label>
        <input class="form-control" id="activity_id" formControlName="activity" [class.is-invalid]="searchFailedA"
          [ngbTypeahead]="searchActivity" placeholder="Activity search" [inputFormatter]="formatter2" [resultFormatter]="formatter2"
          [editable]="false">
        <div class="invalid-feedback" *ngIf="searchFailedA">Sorry, suggestions could not be loaded.</div>
      </div>

      <div class="form-group">
        <label for="text">Text</label>
        <input class="form-control" id="text" placeholder="Text" formControlName="text">
      </div>

    </div>

    <div class="mt-3">
      <button class="btn btn-info" type="submit" [disabled]="loading">Search</button>
    </div>
  </div>

  <div class="col table-responsive mt-3">
    <table class="table white-bg">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>End</th>
          <th>Activity</th>
          <th>Category</th>
          <th>Description</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="result">
        <tr *ngFor="let life_entry of result | slice: (curPage * pageSize) - pageSize :curPage * pageSize">
          <td>{{life_entry.date}}</td>
          <td>{{life_entry.start_time.substring(0,5) }}</td>
          <td>{{life_entry.end_time ? life_entry.end_time.substring(0,5) : ''}}</td>
          <td>{{life_entry.activity_name}} <span *ngIf="life_entry.quantity>1" class="badge ml-1">{{life_entry.quantity}}</span></td>
          <td>{{life_entry.activity_type_name}}</td>
          <td>{{life_entry.description}}</td>
          <td>{{life_entry.rating ? life_entry.rating : ''}} <span *ngIf="life_entry.rating" style="color: orange;"
              class="fas fa-star"></span></td>
          <td>
            <div class="float-right">
              <button type="button" class="m-1 btn btn-outline-info" (click)="openDay(life_entry.date)"><i class="fas fa-eye"></i></button>
            </div>
          </td>
        </tr>
      <tbody>
    </table>
    <ngb-pagination class="float-left" *ngIf="result" [pageSize]="pageSize" [maxSize]="5" [collectionSize]="result.length" [(page)]="curPage"></ngb-pagination>
    <label class="float-right">{{result.length}} results</label>
  </div>

</form>