<h1>{{this.dateToString(this.date)}}</h1>

<div class="white-bg fdb-box text-center">
  <ngb-datepicker [(ngModel)]="date" [footerTemplate]="footerTemplate" (select)="onDateSelection($event)"></ngb-datepicker>
</div>

<div class="table-responsive white-bg mt-4">
  <table class="table" *ngIf="day">
    <thead class="thead-dark">
      <tr>
        <th>Time</th>
        <th>End</th>
        <th>Activity</th>
        <th>Description</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody *ngFor="let life_entry of day.life_entries">

      <tr *ngIf="life_entry.life_entry_activities.length == 0">
        <td>{{ life_entry.start_time.substring(0,5) }}</td>
        <td>{{ life_entry.end_time ? life_entry.end_time.substring(0,5) : '' }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let life_entry_activity of life_entry.life_entry_activities; let i = index">
        <td>{{ i == 0 ? life_entry.start_time.substring(0,5) : '' }}</td>
        <td>{{ i == 0 && life_entry.end_time ? life_entry.end_time.substring(0,5) : '' }}</td>
        <td>{{life_entry_activity.activity.name}} <span *ngIf="life_entry_activity.quantity>1" class="badge ml-1">{{life_entry_activity.quantity}}</span></td>
        <td>{{life_entry_activity.description}}</td>
        <td>{{life_entry_activity.rating ? life_entry_activity.rating : ''}} <span *ngIf="life_entry_activity.rating"
            style="color: orange;" class="fas fa-star"></span></td>
      </tr>

    <tbody>
  </table>

  <p class="m-3" *ngIf="!day">There are no data for that day. Click the <mark>Create day</mark> button to enter
    data.</p>
</div>

<div class="card mt-1 white-bg" *ngIf="day && day.note">
  <p class="m-3">{{day.note}}</p>
</div>

<div class="text-right mt-3">
  <button type="button" class="btn btn-info" *ngIf="!day" (click)="newDay()">Create day</button>
  <button type="button" class="btn btn-info" *ngIf="day" (click)="editDay(day.id)">Edit day</button>
</div>

<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="btn btn-outline-info btn-sm m-2 float-left btn-calendar" (click)="previousDay()">Previous</button>
  <button class="btn btn-outline-info btn-sm m-2 float-right btn-calendar" (click)="nextDay()">Next</button>
</ng-template>